:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme */
  --border-color: #ccc;

  --interactive-size: 2.5rem;

  --button-size: var(--interactive-size);
  --button-border-color: var(--border-color);
  --button-border-radius: 0.25rem;

  --renderer-border-radius: 0.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}
