:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme */
  --borderColor: #ccc;

  --interactive-size: 2.5rem;

  --button-backgroundColor: rgba(0, 0, 0, 0);
  --button_hover-backgroundColor: #F9F9F9;
  --button_active-backgroundColor: #EFEFEF;
  --button-paddingX: 1rem;


  --button-size: var(--interactive-size);
  --button-borderColor: var(--borderColor);
  --button-borderRadius: 0.25rem;

  --renderer-borderRadius: 0.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}
