.timeline-container {
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 20px;
  cursor: ew-resize;
}

.timeline {
  position: relative;
  height: 40px;
  width: 100%;
}

.timeline-indicator {
  inset: 0;
  position: absolute;
  height: 100%;
  width: 1px;
}
.timeline-indicator__current-time {
  background-color: #4caf50;
}
.timeline-indicator__caret-time {
  background-color: #3d3d3d;
}
